<?xml version="1.0"?>
<generalsettings>
  <!--This is general settings, dont try to modify anything-->
  <bckgroundImg value="D:\FromPacardBell1\backup flash yv\Projects\mine\LAND_COMMITEE_PROJECT (GOOD)\LAND_COMMITEE\images\COAT OF ARMS.jpg" />
  <flder value="C:\Documents and Settings\TOSHIBA\My Documents\History" />
</generalsettings>